.services-heading {
    background: url('../images/servises/services-bg.jpg') no-repeat center;
    background-size: cover;
    min-height: 83rem;
}
.services-heading__block {
    transform: translateY(15rem);
    max-width: 72rem;
    padding: 4rem 8rem 10rem 5rem;
    background: #1F1F1F;
    opacity: 0.8;
}
.title-page {
    margin-bottom: 4rem;
}
.services-heading__text {
    margin-bottom: 2rem;
    color: #fff;
}
.services-heading__list-item {
    list-style: disc;
    margin-bottom: 1rem;
    color: #fff;
}
.services-heading__list{
    margin-left: 3rem;
}

//CLIENTS
.clients{
    padding-top: 10.1rem;
    padding-bottom: 10.8rem;
    background:  #D9D9D9;
}
.clients__title {
    margin-bottom: 4rem;
}
.clients__text {
    max-width: 98rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

//SERVICES
.services-one, 
.services-two,
.services-three {
    position: relative;
} 
.services-one{
    background: #FFFCF7;
}
.services-two{
    background: #F5F1EC;
}
.services-three{
    background: #F5F1EC;
}

.container {
}
.services__inner {
}
.services__wrapper {
}
.services__block {
    padding: 15rem 10rem 16rem 0rem;
    width: 57rem;
}
.services__block-title {
    margin-bottom: 4.3rem;
    font-family: 'Lora';
    font-weight: 500;
    font-size: 2.8rem;
    line-height: 3.6rem;
    letter-spacing: 0.03em;
}
.services__list {
    margin-left: 3rem;
}
.services__list-item {
    margin-bottom: 2rem;
    list-style: disc;
}
.services__null-one,
.services__null-three {
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    right: 0;
}
.services__wrapper--order {
   
}
.services__block--order {
    padding: 15rem 0rem 16rem 10rem;
    width: 57rem;
    margin-left: auto;
}
.services__null-two {
    position: absolute;
    width: 50%;
    height: 100%;
    left: 0;
    top: 0;
    background: url('../images/servises/interiror-2.jpg') no-repeat;
    background-size: cover;
}
.services__null-one{
    background: url('../images/servises/interiror-1.jpg') no-repeat;
    background-size: cover;
}
.services__null-three{
    background: url('../images/servises/interiror-3.jpg') no-repeat;
    background-size: cover;
}